.hero {
  height: 100vh;

  @include md-breakpoint {
    height: auto;
    padding-bottom: 7rem;
  }

  &__content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
  }

  &__main {
    margin-top: 15rem;
    margin-bottom: 7rem;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    @include md-breakpoint {
      margin-top: 11rem;
      margin-bottom: 4rem;
      align-items: center;
      flex-direction: column-reverse;
    }
  }

  &__text {
    position: relative;
    margin-right: 10rem;
    max-width: 50rem;
    display: flex;
    flex-direction: column;

    @include md-breakpoint {
      margin-right: 0;
      text-align: center;
    }

    & h1 {
      margin-bottom: 2rem;
      margin-top: 2rem;
      font-size: 5.5rem;
      line-height: 1.2;

      @include md-breakpoint {
        margin-top: 5rem;
      }

      @media (max-width: 500px) {
        font-size: 4rem;
      }
    }

    & p {
      font-family: Mulish, sans-serif;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.6;
      color: #555;
    }

    & span {
      margin: 2.5rem 0;

      & a {
        font-size: 3rem;
        color: $text-color-black;
      }

      & i {
        transition: all 0.2s;

        &:hover {
          color: #147efb;
        }
      }
    }

    & img {
      position: absolute;
      right: 13rem;
      top: 8.7rem;
      height: 6rem;
      width: 6rem;

      @include md-breakpoint {
        right: 3rem;
        top: 11.2rem;
      }

      @media (max-width: 500px) {
        height: 4.5rem;
        right: 4rem;
        top: 9.4rem;
        width: 4.5rem;
      }

      @media (max-width: 500px) {
        right: 3rem;
      }

      @media (max-width: 380px) {
        right: 2rem;
      }
    }
  }

  &__image {
    -webkit-animation: morph 8s ease-in-out infinite;
    animation: morph 8s ease-in-out infinite;
    background-image: url(../images/mpm_jpg.nuiyo456cxr51.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 35rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 35rem;

    @media (max-width: 500px) {
      height: 28rem;
      width: 28rem;
    }
  }

  @keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }

  &__skills {
    display: flex;
    align-items: center;

    @include md-breakpoint {
      flex-direction: column;
    }

    & p {
      font-family: Mulish, sans-serif;
      min-width: 108px;
      margin-right: 7rem;
      margin-bottom: 4rem;
      padding-right: 2rem;
      border-right: 2px solid rgba(45, 46, 50, 0.5);
      font-size: 1.7rem;
      font-weight: 600;
      color: $text-color-black;

      @include md-breakpoint {
        min-width: auto;
        margin-right: 0;
        padding-right: 0;
        padding-bottom: 1rem;
        border-bottom: 2px solid rgba(45, 46, 50, 0.5);
        border-right: none;
      }
    }

    &-logos {
      @include md-breakpoint {
        width: 92%;
      }

      & ul {
        display: flex;
        flex-wrap: wrap;

        @include md-breakpoint {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          justify-items: center;
        }

        & li {
          &:not(:last-child) {
            padding-bottom: 4rem;
            margin-right: 2.5rem;

            @include md-breakpoint {
              margin-right: 0;
            }
          }

          & img {
            height: 5rem;
            width: 5rem;
          }
        }
      }
    }
  }
}
