<section id="about" class="about">
  <div class="container">
    <div class="about__content">
      <div class="about__img-side">
        <img
          src="/assets/images/working-emoji.png"
          alt=""
          class="about__emoji-image"
        />
        <img
          src="/assets/images/developer-workspace.jpg"
          alt="developer-workspace"
          class="about__main-image"
        />
        <span>
          <img src="/assets/images/spinning-text.svg" alt="spinning-text" />
        </span>
      </div>
      <div class="about__text-side">
        <p class="section-name">About me</p>
        <h2 class="section-title">
          A assiduous Front-end Developer
          <br />
          based in Sochi, Russia. 🏠
        </h2>
        <p class="about__text-description">
          As a Front-End developer, I have an impressive arsenal of skills in
          HTML, CSS, JavaScript, TypeScript, React, and SCSS. This allows me to
          optimize components for maximum web application performance based on
          clean code.
        </p>
      </div>
    </div>
  </div>
</section>
