<section id="contacts" class="contacts">
  <div class="container">
    <div class="contacts__title">
      <p class="section-name">Contacts</p>
      <h2 class="section-title">Don't be shy! Contact me! 👇</h2>
    </div>
    <div class="contacts__icons">
      <div class="contacts__icons-box">
        <span><i class="fa-solid fa-map-location-dot"></i></span>
        <div class="contacts__info">
          <p>Location</p>
          <p>Sochi, Russia</p>
        </div>
      </div>
      <div class="contacts__icons-box">
        <span><i class="fa-solid fa-envelope-open-text"></i></span>
        <div class="contacts__info">
          <p>Mail</p>
          <a href="mailto:filmanovichviktor@gmail.com"
            >filmanovichviktor@gmail.com</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
