<header class="header">
  <div class="container">
    <nav>
      <div class="logo">Viktor.dev</div>
      <ul class="header__list">
        <li class="header__list-item">
          <a href="#home">Home</a>
        </li>
        <li class="header__list-item">
          <a href="#about">About</a>
        </li>
        <li class="header__list-item">
          <a href="#projects">Projects</a>
        </li>
        <li class="header__list-item">
          <a href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
