<header class="header">
  <div class="container">
    <nav>
      <div class="logo">Viktor.dev</div>
      <ul class="header__list">
        <li class="header__list-item">
          <a href="#home">Home</a>
        </li>
        <li class="header__list-item">
          <a href="#about">About</a>
        </li>
        <li class="header__list-item">
          <a href="#projects">Projects</a>
        </li>
        <li class="header__list-item">
          <a href="#contacts">Contacts</a>
        </li>
        <li id="openButton">
          <i class="fa-solid fa-bars-staggered mobile-burger"></i>
        </li>
      </ul>
    </nav>
    <div id="mobileMenu" class="mobile-menu">
      <span id="closeButton">
        <i class="fa-solid fa-xmark"></i>
      </span>
      <ul>
        <li>
          <a href="#home">Home</a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#projects">Projects</a>
        </li>
        <li>
          <a href="#contacts">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
