<section id="home" class="hero secondary-block-color">
  <div class="container">
    <div class="hero__content">
      <div class="hero__main">
        <div class="hero__text">
          <h1>Front-End React Developer</h1>
          <p>
            Hi, I'm Viktor Filmanovich. An enthusiastic Front-end React
            Developer based in Sochi, Russia. 🏠
          </p>
          <span>
            <a
              aria-label="github"
              target="_blank"
              rel="noreferrer"
              href="https://github.com/veelfeel"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </span>
          <img src="./assets/images/waving-hand.png" alt="waving_hand" />
        </div>
        <div class="hero__image"></div>
      </div>
      <div class="hero__skills">
        <p>Tech stack</p>
        <div class="hero__skills-logos">
          <ul>
            <li>
              <img
                src="./assets/images/html5.svg"
                title="HTML5"
                alt="html-icon"
              />
            </li>
            <li>
              <img src="./assets/images/css3.svg" title="CSS3" alt="css-icon" />
            </li>
            <li>
              <img
                src="./assets/images/javascript.svg"
                title="JavaScript"
                alt="javascript-icon"
              />
            </li>
            <li>
              <img
                src="./assets/images/typescript.svg"
                title="TypeScript"
                alt="typescript-icon"
              />
            </li>
            <li>
              <img
                src="./assets/images/react.svg"
                title="React"
                alt="react-icon"
              />
            </li>
            <li>
              <img
                src="./assets/images/sass.svg"
                title="SASS"
                alt="sass-icon"
              />
            </li>
            <li>
              <img
                src="./assets/images/nodejs.svg"
                title="NodeJS"
                alt="nodejs-icon"
              />
            </li>
            <li>
              <img
                src="./assets/images/mongodb.svg"
                title="MongoDB"
                alt="mongodb-icon"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
