<section id="projects" class="projects secondary-block-color">
  <div class="container">
    <p class="section-name">Portfolio</p>
    <h2 class="section-title">
      Each project is a unique piece of development 🧩
    </h2>
    <div class="projects__block">
      <div class="projects__image-side">
        <a
          target="_blank"
          href="https://установка-кондиционера-сочи.рф"
          rel="noreferrer"
        >
          <img
            src="/assets/images/air-conditioner-service-min.png"
            alt="website"
            class="projects__image-side-first-image"
          />
        </a>
      </div>
      <div class="projects__text-side">
        <h3>Air conditioner service 💦</h3>
        <p>
          An air conditioning service website is an online platform that allows
          an individual or business to order air conditioning service.
        </p>
        <div class="projects__stack">
          <ul>
            <li>Gulp</li>
            <li>HTML5</li>
            <li>SCSS</li>
          </ul>
        </div>
        <div class="projects__links">
          <a
            target="_blank"
            href="https://github.com/veelfeel/landing-page"
            rel="noreferrer"
            >Code
            <i class="fa-brands fa-github"></i>
          </a>
          <a
            target="_blank"
            href="https://установка-кондиционера-сочи.рф"
            rel="noreferrer"
            >Live Demo
            <i class="fa-solid fa-arrow-up-right-from-square link-icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="projects__block">
      <div class="projects__image-side">
        <a
          target="_blank"
          href="https://mern-frontend-f9wx.onrender.com/"
          rel="noreferrer"
        >
          <img
            src="/assets/images/condik-ecommerce.png"
            alt="website"
            class="projects__image-side-second-image"
          />
        </a>
      </div>
      <div class="projects__text-side">
        <h3>Condi-K ecommerce 🛒</h3>
        <p>
          A functional home appliance online store that focuses on simple design
          and intuitive interface, allows users to conveniently satisfy their
          shopping choices.
        </p>
        <div class="projects__stack">
          <ul>
            <li>React</li>
            <li>SCSS</li>
            <li>Express</li>
          </ul>
        </div>
        <div class="projects__links">
          <a
            target="_blank"
            href="https://github.com/veelfeel/mern_frontend"
            rel="noreferrer"
            >Code
            <i class="fa-brands fa-github"></i>
          </a>
          <a
            target="_blank"
            href="https://mern-frontend-f9wx.onrender.com/"
            rel="noreferrer"
            >Live Demo
            <i class="fa-solid fa-arrow-up-right-from-square link-icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
