<section id="projects" class="projects secondary-block-color">
  <div class="container">
    <p class="section-name">Проекты</p>
    <h2 class="section-title">
      Каждый проект является уникальной разработкой 🧩
    </h2>
    <div class="projects__block">
      <div class="projects__image-side">
        <a
          target="_blank"
          href="https://установка-кондиционера-сочи.рф"
          rel="noreferrer"
        >
          <picture>
            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="./assets/images/air-conditioner-service-767.webp"
            />
            <source
              type="image/webp"
              media="(min-width: 768px)"
              srcset="./assets/images/air-conditioner-service.webp"
            />
            <source
              type="image/png"
              media="(max-width: 767px)"
              srcset="./assets/images/air-conditioner-service-767.png"
            />
            <img
              src="./assets/images/air-conditioner-service.png"
              alt="website"
              class="projects__image-side-first-image"
            />
          </picture>
        </a>
      </div>
      <div class="projects__text-side">
        <h3>Сервис по обслуживанию кондиционеров 💦</h3>
        <p>
          Онлайн-платформа для заказа услуги кондиционирования, которая работает
          с частными и юридическими лицами.
        </p>
        <div class="projects__stack">
          <ul>
            <li>HTML</li>
            <li>SCSS</li>
            <li>JavaScript</li>
            <li>PHP</li>
          </ul>
        </div>
        <a
          target="_blank"
          href="https://установка-кондиционера-сочи.рф"
          rel="noreferrer"
          >Перейти на сайт
          <svg width="14" height="14" fill="#2d2e32" viewBox="0 0 512 512">
            <path
              d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
            />
          </svg>
        </a>
      </div>
    </div>
    <div class="projects__block">
      <div class="projects__image-side">
        <a
          target="_blank"
          href="https://mern-frontend-f9wx.onrender.com/"
          rel="noreferrer"
        >
          <picture>
            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="./assets/images/ecommerce-767.webp"
            />
            <source
              type="image/webp"
              media="(min-width: 768px)"
              srcset="./assets/images/ecommerce.webp"
            />
            <source
              type="image/png"
              media="(max-width: 767px)"
              srcset="./assets/images/ecommerce-767.png"
            />
            <img
              src="./assets/images/ecommerce.png"
              alt="website"
              class="projects__image-side-second-image"
            />
          </picture>
        </a>
      </div>
      <div class="projects__text-side">
        <h3>Интернет-магазин климатической техники 🛒</h3>
        <p>
          Интернет-магазин бытовой техники с интуитивно понятным интерфейсом.
          Позволяет удобно искать и покупать нужные товары.
        </p>
        <div class="projects__stack">
          <ul>
            <li>React</li>
            <li>TypeScript</li>
            <li>Redux Toolkit</li>
            <li>SCSS</li>
            <li>Express</li>
            <li>MongoDB</li>
          </ul>
        </div>
        <a
          target="_blank"
          href="https://mern-frontend-f9wx.onrender.com/"
          rel="noreferrer"
          >Перейти на сайт
          <svg width="14" height="14" fill="#2d2e32" viewBox="0 0 512 512">
            <path
              d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
