<section id="projects" class="projects secondary-block-color">
  <div class="container">
    <p class="section-name">Portfolio</p>
    <h2 class="section-title">
      Each project is a unique piece of development 🧩
    </h2>
    <div class="projects__block">
      <div class="projects__image-side">
        <a
          target="_blank"
          href="https://mern-frontend-f9wx.onrender.com/"
          rel="noreferrer"
        >
          <img src="/assets/images/dog.jpeg" alt="website" />
        </a>
      </div>
      <div class="projects__text-side">
        <h3>Air conditioner service 💦</h3>
        <p>
          A car rental website is an online platform that allows users to rent
          cars for personal or business use. The website provides an interface
          for searching, comparing, and reserving cars.
        </p>
        <div class="projects__stack">
          <ul>
            <li>Gulp</li>
            <li>HTML5</li>
            <li>SCSS</li>
          </ul>
        </div>
        <div class="projects__links">
          <a
            target="_blank"
            href="https://github.com/veelfeel/landing-page"
            rel="noreferrer"
            >Code
            <i class="fa-brands fa-github"></i>
          </a>
          <a
            target="_blank"
            href="https://mern-frontend-f9wx.onrender.com/"
            rel="noreferrer"
            >Live Demo
            <i class="fa-solid fa-arrow-up-right-from-square link-icon"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="projects__block">
      <div class="projects__image-side">
        <a target="_blank" href="#" rel="noreferrer">
          <img src="#" alt="website" />
        </a>
      </div>
    </div> -->
  </div>
</section>
